#sideBar:hover {
  background-color: #985e13 !important;
  color: white;
}

#heading {
  font-size: 78px;
  font-weight: bold;
}

#subheading {
  font-size: 24px;
  text-align: center;
}

.sub:hover {
  background-color: #302e2c;
  cursor: pointer;
  font-size: 32px;
  transition: all 0.15s;
}

.nav-link:hover {
  background-color: rgb(210, 176, 91);
}

.store-location {
  width: 100%;
  height: 70%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.footerText {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footerText:hover {
  background-color: #e1d9d1;
  cursor: pointer;
}

.footer-link:hover {
  font-size: 18px;
}

.social-icon {
  transition: all 0.15s ease;
}

.social-icon:hover {
  transform: translateY(-10%);
  transform: translateX(-10%);
  box-shadow: 5px 5px grey;
}

@media screen and (min-width: 768px) {
  #subheading {
    font-size: 30px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767.98px) {
  #subheading {
    font-size: 22px;
  }
}

@media screen and (max-width: 575.98px) {
  #heading {
    text-align: center;
    font-size: 32px;
  }
  #subheading {
    text-align: center;
    font-size: 16px;
  }
}

@media screen and (max-width: 450px) {
  .store-card {
    height: 550px;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f7f7f7;
}

::-webkit-scrollbar-thumb {
  background: black;
}
